.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  p {
  margin-top: 1px;
  margin-bottom: 1px;
  }
  
  .card{
    background-color: rgb(119, 119, 119);
    color: rgb(0, 0, 0);
    margin-top: 40px;
    padding: 10px;
  }
  
  .card-body {
  padding-top: 1px;
  padding-bottom: 1px;
  }
  #cardImg{
    border-style: groove;
    border-color: rgb(153, 92, 0);
  }
  .card-title {
  text-align: center
  }